* {
	font-family: 'Menlo';
}

.header {
	background-color: darkgray;
	color: white;
	padding: 1%;
}

.column_div {
	display: inline-block;
	width: 25%;
	height: 100%;
	margin: 1%;
	padding: 1%;
	background-color: lightgray;
}
